<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebAppAss</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebAppAss.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-custom">
            <div class="container">
                <!-- Logo on the left -->
                <a class="navbar-brand" href="/">
                    <img src="~/img/logo.png" alt="Sam&Ella's Logo">
                </a>
                <!-- Centered navigation links -->
                <ul class="navbar-nav navbar-center">
                    <li class="nav-item">
                        <a class="nav-link" href="/Menu">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Hours&location">Hours & Location</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Discover">Discover</a>
                    </li>
                </ul>
                <!-- Right section: Account login and cart -->
                <div class="navbar-right">
                    <div class="nav-item">
                        <a class="nav-link" href="/Account/Login">
                            <i class="bi bi-person-circle"></i>
                            <span>Sign up/Login</span>
                        </a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link" href="/Cart">
                            <i class="bi bi-cart"></i>
                        </a>
                    </div>
                </div>
            </div>
        </nav>

    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="social-media">
            <a href="https://www.facebook.com" aria-label="Facebook" target="_blank">
                <i class="bi bi-facebook"></i>
            </a>
            <a href="https://www.twitter.com" aria-label="Twitter" target="_blank">
                <i class="bi bi-twitter"></i>
            </a>
            <a href="https://www.instagram.com" aria-label="Instagram" target="_blank">
                <i class="bi bi-instagram"></i>
            </a>
        </div>
        <div class="copyright">
            &copy; 2024 - Sam&Ella's Burgers
        </div>
        <div class="links">
            <a asp-area="" asp-page="/Privacy">Privacy Policy</a>
            <a asp-area="" asp-page="/Contactus">Contact Us</a>
            <a asp-area="" asp-page="/EmailSignup" class="btn btn-signup">Email signup</a>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
